
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.mainDiv { 
  display: flex;
}

header, #mainDiv1, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header, footer, .mainDiv {
    padding: 10px;
}

h1 {
  font-size: 48px;
  font-style: extra-bold;

}

h2 {
  font-size: 36px;
  font-style: extra-bold;
  color: #1F2937;
}

h3 {
  font-size: 24px;
}

#mainDiv1 p {
  color:  #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
}

#mainDiv3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
