
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  box-sizing: border-box;
  justify-content: center;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;

}

.body {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}


div {
  /**border-style: solid; **/
  border-width: 2px;
}

.mainDiv { 
  justify-items: center;
}

header, #mainDiv1, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header, footer, .mainDiv {
    padding: 10px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;

}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;
}

h3 {
  font-size: 24px;
  justify-items: left;
}

#mainDiv1 p {
  color:  #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 8px;
  padding: 4px 20px;
  margin: 4px 0px;
}

#mainDiv3 {
    background-color: #E5E7EB;
    font-size: 18px;
    
    color: #1F2937;
}

#div3Quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

#div3Quotee {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}

#mainDiv4 .format {
  background-color: #3882F6;
  border-radius: 8px;
  color: #E5E7EB;
}

.format {
  margin: 0px 170px;
  display: flex;
  min-width: 500px;
}

header .format {
  justify-content: left;
  align-items: center;
  height: 40px;
}

header p {
  justify-self: flex-end;
  margin-left: auto;
}

.mainDiv .format {
  margin: 40px 170px 100px;
}

#div4Title {
  font-size: 24px;
  font-weight: bold;
}

#mainDiv2 .format {
  flex-direction: column;
}

#mainDiv3 .format {
  margin: 40px 170px;
}

#mainDiv4 .format {
  margin: 100px 170px;
}

#div2Content {
  flex-direction: row;
  display: flex;
}

.infoBox {
  max-width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6px;
}

.infoBox img {
  height: 140px;
  width: 140px;
  margin: 3px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.infoBox p {
  text-align: center;
  font-size: 16px;
}

a {
  margin: 0px 5px;
  color: #E5E7EB;
  font-size: 16px;
}

#div1Text, #div1Image {
  height: 240px;
  width: 420px;
}

#div1Image {
  background-color: #E5E7EB;
  margin-left: auto;
}

#div1Image p {
  color:#1F2937
}

#div3Content, #div4Content {
  padding: 40px 90px;
}

#div4Content {
  display: flex;
  justify-content: left;
}

#div4Button {
  margin-left:100px;
  display:flex;
  align-items: center;
}

#div4Button button {
  border: 2px solid #E5E7EB;
}