
div {
  border: 0px;
  font-size: 18px;
}

header, .divMain1, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

h1 {
  font-size: 48px;
  font-style: extra-bold;

}

h2 {
  font-size: 36px;
  font-style: extra-bold;
  color: #1F2937;
}

h3 {
  font-size: 24px;
}

.divMain1 p {
  color:  #E5E7EB;
}

button {
  color: #3882F6;
}

.divMain3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
